@import "../../../../styles/valiable.scss";

// Styling regulation
// 1. Please follow [bootstrap document] (https://getbootstrap.com/) [react-bootstrap] (https://react-bootstrap.github.io/).
// 2. Don't need to compile your Scss file, because node-sass automatically compile them.
// 3. To avoid your class-name effect others section, please put your section name on the beginning of your class name,
//    `ex).yourSectionName__container`. Ps boiler-plate follows [BEM naming](https://css-tricks.com/using-sass-control-scope-bem-naming/)
// 4. Please use Scss valiables defined on src/styles/valiable.scss,
//    ex) `.yourSectionName__container{background-colour:$orenge}`, in case of Bootstrap ex) `text-custom-orange` => `color:#fa7921`
// 5. Please use `rem` instead of `px`, that reasons is refered on this link [why rem, how to use rem](https://www.sitepoint.com/understanding-and-using-rem-units-in-css/) ex) `font-size:2rem`=>`font-size:20px//16px * 62.5% * 2`
// 6. Please use bootstrap styles for spacing and font-size as possible as you can, because keeping consistent.

.how-tabs__card-items {
  .card {
    position: relative;
    padding-top: 2.5rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }
  &__discription {
    font-family: $body;
    // font-size: 1.2rem;
  }
  &__number {
    position: absolute;
    z-index: 99;
    top: 0;
    border-radius: 50%;
    left: 50%;
    width: 5rem;
    height: 5rem;
    line-height: calc(5rem - 8px);
    background-color: $orange;
    border: 4px solid white;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: white;
    font-size: 2rem;
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .card-deck {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      align-items: stretch;
    }
    .card-deck .card {
      margin-top: 3rem;
      display: block;
      flex-basis: 33.3%; /* change this value for each breakpoint*/
    }
  }
  @media (max-width: 768px) {
    width: 95%;
    margin: 0 auto;
  }
  @media (max-width: 575.98px) {
    .card {
      margin-top: 3rem;
      margin-left: 0;
    }
  }
}
