// color
$lightGreen: #e3fae0;
$lightGray: #ececec;
// $lightOrange: #fff6ea;
$lightOrange: #ffc06e;
$lightGrey: #f3f3f3;
$green: #65d258;
$orange: #fa7921;
$yellow: #FBC100;
$text: #13094e;
$lightText: white;

// font-family
$display: "Nunito", sans-serif;
// $display: "arial", sans-serif;
$body: "Roboto", sans-serif;

//font-weight
$thin: 300;
$normal: 400;
