@import "../../styles/valiable";

// Styling regulation
// 1. Please follow [bootstrap document] (https://getbootstrap.com/) [react-bootstrap] (https://react-bootstrap.github.io/).
// 2. Don't need to compile your Scss file, because node-sass automatically compile them.
// 3. To avoid your class-name effect others section, please put your section name on the beginning of your class name,
//    `ex).yourSectionName__container`. Ps boiler-plate follows [BEM naming](https://css-tricks.com/using-sass-control-scope-bem-naming/)
// 4. Please use Scss valiables defined on src/styles/valiable.scss,
//    ex) `.yourSectionName__container{background-colour:$orenge}`, in case of Bootstrap ex) `text-custom-orange` => `color:#fa7921`
// 5. Please use `rem` instead of `px`, that reasons is refered on this link [why rem, how to use rem](https://www.sitepoint.com/understanding-and-using-rem-units-in-css/) ex) `font-size:2rem`=>`font-size:20px//16px * 62.5% * 2`
// 6. Please use bootstrap styles for spacing and font-size as possible as you can, because keeping consistent.

.aboutUs {
  .inner-wrap {
    width: 90%;
  }

  background-color: white;
  color: $text;
  font-family: "Nunito", sans-serif;
  text-align: center;

  &__banner {
    max-width: 100vw !important;
    // margin: 0 auto;
    // text-align: center;

    &__item {
      padding: 0 3rem;
      @media (max-width: 768px) {
        padding: 1rem 2rem;
      }
    }

    &__bgc1 {
      padding: 12rem 0;
      width: 100%;
      height: 100%;
    }

    &__bgc2 {
      color: white;
      padding: 3rem 0;
      width: 100%;
      height: 100%;
      &__bgc2text {
        text-align: left;
      }
      
    }
  }

  &__icon {
    width: 60%;
    margin: 0 auto;
  }

  &__image {
    max-width: 100%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.15);
  }

  &__label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.15rem;
    line-height: 1.35rem;
    // background-color: $orange;
    // background-color: rgba(0, 0, 31, 0.8);
    // background-color:rgba(0, 0, 0, 0.6);
    // background-color: #FBC100;
    color: #13094e;
    border-radius: 0.4rem;
    padding: 0.65rem;
    margin: -1.25rem -1.5rem 2rem 2.5rem;
    position: relative;
    z-index: 100;

    &__name {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }

  &__members {
    @media (max-width: 576px) {
      .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 1rem 0 1rem;
      }
    }
  }
  &__icons {
    @media (max-width: 576px) {
      .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 1rem 0 1rem;
      }
    }
  }
}
